<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  <title>Financial Market Community</title>
  <link rel="stylesheet" href="static/styles/style.css">
  <link rel="icon" type="image/x-icon" href="static/media/Logo FMC Transparent.png">

  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}> -->
  
</head>

<body>
  <header>
    <!-- Navbar -->
    {% include "navbar.html" %}
  </header>

  <div class="hero-banner">
    <h1 class="fmc-text">
      Financial<br>
      Market<br>
      Community
    </h1>
    <h2 class="fmc-text feb-unpad-text">
      Fakultas Ekonomi dan Bisnis<br>
      Universitas Padjadjaran
    </h2>
    <div class=" tombol">
      <button>
        Research
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="22.22"
          height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l14 0" />
          <path d="M13 18l6 -6" />
          <path d="M13 6l6 6" />
        </svg>
      </button>
      <button class="event-button">
        Event
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="22.22"
          height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l14 0" />
          <path d="M13 18l6 -6" />
          <path d="M13 6l6 6" />
        </svg>
      </button>
  </div>
  </div>

  <!-- About Us -->
  <div class="about-us">
    <div>
      <h2>About Us</h2>
      <p>
        <b>Financial Market Community</b> atau FMC adalah sebuah organisasi berbentuk badan semi otonom (BSO) yang <span
          class="highlight">merupakan organisasi dibawah pengawasan Bursa Efek Indonesia (BEI) secara langsung.</span>
        FMC didirikan pada 15 Juli 2003 dan berkedudukan di Fakultas Ekonomi dan Bisnis Universitas Padjadjaran<br><br>

        Fmc adalah tempat untuk seluruh anggotanya bertumbuh serta meningkatkan kemampuan berorganisasi dan pengetahuan
        pasar modal dengan seluruh program kerja yang ada. <span class="highlight">FMC juga menjadi wadah untuk seluruh
          anggotanya meningkatkan koneksi</span> baik antar sesama mahasiswa, maupun dengan stakeholder Bursa Efek
        Indonesia, sekuritas terkait, serta stakeholders organisasi sejenis di universitas lain<br><br>

        Bersama dengan FMC, kita akan membangun organisasi dengan tingkat relevansi yang tinggi, berkontribusi terhadap
        ilmu pengetahuan dan masyarakat, serta rumah bagi seluruh anggotanya
      </p>
      <button>
        Read more
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="22.22"
          height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l14 0" />
          <path d="M13 18l6 -6" />
          <path d="M13 6l6 6" />
        </svg>
      </button>
    </div>
    <div class="aboutImage">
      <img src="static/media/gambar about1.png" alt="Gambar About Us">
    </div>
  </div>

  <!-- <div class="testimoni">
    <h2 class="header-testimoni"">DENGAR APA KATA MEREKA</h2>
  </div> -->

  <h2 class="header-pengurus">Pengurus FMC Universitas Padjadjaran</h2>
  <div class="content-pengurus">

    <div class="pengurus-image">
      <img src="./static/media/gambar about1.png" alt="Pengurus FMC">
    </div>

    <div class="pengurus-info">
      <p>Kami memiliki tim profesional dengan jumlah 110 pengurus yang bersama-sama membantu civitas akademika
        Universitas Padjadjaran dan masyarakat umum untuk berinvestasi.
      </p>
      <div class="division-buttons">
        <div class="divisions">
          <button>Technological Literation & Advancements</button>
          <button>Research</button>
          <button>Sharia Research</button>
          <button>Projects & Events</button>
          <button>Digital Media & Visual</button>
          <button>Education</button>
        </div>
        <div class="divisions">
          <button>Deputy Secretary</button>
          <button>Deputy Treasury</button>
          <button>Business Partnership</button>
          <button>Public Relation</button>
          <button>Internal Relation</button>
          <button>Talent Acquisition & Management</button>
        </div>
      </div>
    </div>
  </div>
</body>

<footer>
  {% include "footer.html" %}
</footer>

</html>