<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  <title>Financial Market Community</title>
  <link rel="stylesheet" href="static/styles/style.css">
  <link rel="icon" type="image/x-icon" href="static/media/Logo FMC Transparent.png">

  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}> -->
  
</head>

<body>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <!-- Logo -->
        <div class="logo">
          <img src="static/media/Logo-FMC.png" alt="Logo FMC Transparent">
        </div>
        <!-- Toggle Btn -->
        <button 
          class="navbar-toggler border-0 navbar-end" 
          type="button" 
          data-bs-toggle="offcanvas" 
          data-bs-target="#offcanvasNavbar" 
          aria-controls="offcanvasNavbar" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- SideBar -->
        <div 
          class="sidebar offcanvas offcanvas-start" 
          tabindex="-1" id="offcanvasNavbar" 
          aria-labelledby="offcanvasNavbarLabel">

          <!-- Sidebar Header -->
          <div class="offcanvas-header justify-content-center align-items-center border-bottom border-black gap-3">
            <img
              style="width:130.797; 
              height:auto;"
              src="static/media/Logo-FMC.png" alt="Logo FMC Transparent">
            </img>
            <button type="button" 
              class="btn-close btn-close-black shadow-none" 
              data-bs-dismiss="offcanvas" 
              aria-label="Close"
              ></button>
          </div>
          <!-- Sidebar Body -->
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end align-items-center fs-5 flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" 
                  aria-current="page" 
                  href="#">Home</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="{{ url_for('events') }}">Events</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="{{ url_for('research') }}">Research</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="{{ url_for('learn') }}">Learn</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="hero-banner">
    <h1 class="fmc-text">
      Financial<br>
      Market<br>
      Community
    </h1>
    <h2 class="fmc-text feb-unpad-text"">
      Fakultas Ekonomi dan Bisnis<br>
      Universitas Padjadjaran
    </h2>
    <div class=" tombol">
      <button>
        Research
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="22.22"
          height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l14 0" />
          <path d="M13 18l6 -6" />
          <path d="M13 6l6 6" />
        </svg>
      </button>
      <button class="event-button">
        Event
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="22.22"
          height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l14 0" />
          <path d="M13 18l6 -6" />
          <path d="M13 6l6 6" />
        </svg>
      </button>
  </div>
  </div>

  <!-- About Us -->
  <div class="about-us">
    <div>
      <h2>About Us</h2>
      <p>
        <b>Financial Market Community</b> atau FMC adalah sebuah organisasi berbentuk badan semi otonom (BSO) yang <span
          class="highlight">merupakan organisasi dibawah pengawasan Bursa Efek Indonesia (BEI) secara langsung.</span>
        FMC didirikan pada 15 Juli 2003 dan berkedudukan di Fakultas Ekonomi dan Bisnis Universitas Padjadjaran<br><br>

        Fmc adalah tempat untuk seluruh anggotanya bertumbuh serta meningkatkan kemampuan berorganisasi dan pengetahuan
        pasar modal dengan seluruh program kerja yang ada. <span class="highlight">FMC juga menjadi wadah untuk seluruh
          anggotanya meningkatkan koneksi</span> baik antar sesama mahasiswa, maupun dengan stakeholder Bursa Efek
        Indonesia, sekuritas terkait, serta stakeholders organisasi sejenis di universitas lain<br><br>

        Bersama dengan FMC, kita akan membangun organisasi dengan tingkat relevansi yang tinggi, berkontribusi terhadap
        ilmu pengetahuan dan masyarakat, serta rumah bagi seluruh anggotanya
      </p>
      <button>
        Read more
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="22.22"
          height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l14 0" />
          <path d="M13 18l6 -6" />
          <path d="M13 6l6 6" />
        </svg>
      </button>
    </div>
    <div class="aboutImage">
      <img src="static/media/gambar about1.png" alt="Gambar About Us">
    </div>
  </div>

  <!-- <div class="testimoni">
    <h2 class="header-testimoni"">DENGAR APA KATA MEREKA</h2>
  </div> -->

  <h2 class="header-pengurus">Pengurus FMC Universitas Padjadjaran</h2>
  <div class="content-pengurus">

    <div class="pengurus-image">
      <img src="./static/media/gambar about1.png" alt="Pengurus FMC">
    </div>

    <div class="pengurus-info">
      <p>Kami memiliki tim profesional dengan jumlah 110 pengurus yang bersama-sama membantu civitas akademika
        Universitas Padjadjaran dan masyarakat umum untuk berinvestasi.
      </p>
      <div class="division-buttons">
        <div class="divisions">
          <button>Technological Literation & Advancements</button>
          <button>Research</button>
          <button>Sharia Research</button>
          <button>Projects & Events</button>
          <button>Digital Media & Visual</button>
          <button>Education</button>
        </div>
        <div class="divisions">
          <button>Deputy Secretary</button>
          <button>Deputy Treasury</button>
          <button>Business Partnership</button>
          <button>Public Relation</button>
          <button>Internal Relation</button>
          <button>Talent Acquisition & Management</button>
        </div>
      </div>
    </div>
  </div>
</body>

<footer>

  <div class="col1-footer">
    <img src="static/media/Logo-FMC.png" alt="Logo FMC Transparent">
    <p><span class="highlightfooter">"FMC lebih dari sekadar tentang saham"</span><strong>, adalah motto baru kami yang
        kami serukan karena kesadaran kami akan eksistensi FMC yang tidak hanya terbatas pada minat yang sama terkait
        dunia pasar modal.</strong></p>
  </div>

  <div class="col2-footer">
    <p><strong>Menu</strong></p>
    <ul class="menu-list">
      <li>Event</li>
      <li>Research</li>
      <li>Learn</li>
    </ul>
  </div>

  <div class="col3-footer">
    <p><strong>Our Contact</strong></p>
    <ul class="contact-list">
      <li>Galeri Investasi BEI FEB Unpad & FMC FEB Unpad Hegarmanah, Jatinangor, Sumedang Regency, West Java 45363</li>
      <li> Email: <a href="mailto:info@febunpad.com">info@febunpad.com</a></li>
    </ul>
  </div>

  <div class="col4-footer">
    <p><strong>Socials</strong></p>
    <ul class="socials-list">
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="20"
          height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path d="M16.5 7.5l0 .01" />
        </svg>
        @fmcfebunpad
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="20"
          height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
          <path d="M8 11l0 5" />
          <path d="M8 8l0 .01" />
          <path d="M12 16l0 -5" />
          <path d="M16 16v-3a2 2 0 0 0 -4 0" />
        </svg>
        @fmcfebunpad
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="20"
          height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" />
          <path d="M10 9l5 3l-5 3z" />
        </svg>
        Financial Market Community
      </li>
    </ul>
   </div>
</footer>

</html>